[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-green-rhino"]
	path = bundle/vim-green-rhino
	url = https://github.com/ryanoneill/vim-green-rhino.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/tabline.vim"]
	path = bundle/tabline.vim
	url = git@github.com:mkitt/tabline.vim.git
[submodule "bundle/ensime-vim"]
	path = bundle/ensime-vim
	url = git@github.com:ensime/ensime-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
